<app-nav-bar></app-nav-bar>
<div class="pokedex-container">
  <button class="nav-button prev" (click)="prevPage()">&#10094;</button>
  <div class="pokemon-list">
    <div class="pokemon-card" *ngFor="let pokemon of filteredPokemon" (click)="viewDetails(pokemon.name)">
      <div class="card">
       
        <img 
         [src]="pokemon.image " 
         alt="{{ pokemon.name }}" 
         (error)="onImageError($event)"
         >
      </div>
      <div class="card-body">
        <h2>{{ replaceHyphens(pokemon.name)}}</h2>
        <p class="pokemon-id">{{ pokemon.id }}</p>
      </div>
    </div>
  </div>
  <button class="nav-button next" (click)="nextPage()">&#10095;</button>
</div> 