.pokedex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #bbbbbb;
  position: relative;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  flex-grow: 1;
  margin: 0 20px;
  transition: transform 0.3s ease;
}

.card {
  background-color: #adadad;
  box-shadow:inset 0 40px 40px rgba(0, 0, 0, 0.2);

}


.nav-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: #009FB7;
  border: none;
  border-radius: 10%;
  color: #7c7c7c;
  font-size: 24px;
  width: 2.5rem;
  height: 5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-button:hover {
  background-color: #007B9A;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-button.prev {
  left: 10px;
}

.nav-button.next {
  right: 10px;
}

.pokemon-card {
  border: 1px solid #696773;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

.pokemon-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.pokemon-card img {
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.pokemon-card img:hover {
  transform: scale(1.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.pokemon-card h2 {
  font-size: 1.4rem;
  color: #2E2E2E;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.pokemon-card p {
  color: #2E2E2E;
  margin: 0;
  font-weight: bold;
}

.pokemon-id {
  margin-top: auto;
}

/* Animação de fade-in para os cartões */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .pokedex-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
    margin: 0;
    width: 100%;
  }

  .nav-button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: #009FB7;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    height: 10rem;
  }


  .pokemon-card {
    padding: 5px;
  }

  .pokemon-card img {
    max-height: 150px;
  }

  .pokemon-card h2 {
    font-size: 1rem;
  }

  .pokemon-card p {
    font-size: 0.9rem;
  }

  .pokemon-id {
    font-size: 0.8rem;
  }
}